header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

img {
    width: 100px;
    margin: 0;
}

main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.perfil {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.perfil {
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: #202c41;
    padding: .5rem;
    border-radius: 1rem;
}

.perfil p {
    color: #fff !important;
}

.perfil img {
    clip-path: circle();
}

.circles {
    margin: 1rem;
}

.circles img {
    width: 70px;
    padding: .5rem;
    background-color: #f0f8ff;
    border-radius: 100%;
}

.circles img:hover {
    cursor: pointer;
}

.investimentos, .maisInfos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.investimentos p, .maisInfos p, .perfil p {
    text-align: center;
    color: #202c41;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.investimentos img {
    width: 250px;
}

.maisInfos a {
    text-align: center;
}

body {
    margin: 0 !important;
}